body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 20, 147, 0.7);
}

h1 {
  color: rgb(112, 117, 122);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(60, 68, 97);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.weather-wrapper {
  max-width: 600px;
  margin: 50px auto;
}
.weather-app {
  max-width: 600px;
  margin: 16px auto;
  padding: 20px;
  border: 1px solid #dad3d3;
  border-radius: 20px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temp img {
  margin-right: 5px;
  width: 64px;
  height: 64px;
}
.units {
  margin-left: -10px;
}
.details {
  margin-left: 50px;
}

.weather-temp strong {
  color: #202124;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temp .units {
  position: relative;
  font-size: 17px;
  top: -34px;
}

.weather-temp .active {
  color: #202124;
  cursor: default;
}
.weather-temp .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
.weather-forecast-temp {
  font-size: 13px;
}
